body {

background:#0b1220;
color:white;
font-family:Arial;

}

header {

background:#020617;
padding:20px;

}

textarea {

width:100%;
height:120px;

}

input,select {

padding:8px;
margin:5px;

}

.contact {

background:#020617;
margin:10px;
padding:10px;

}

.statbox {

background:#020617;
padding:10px;
margin:10px;

}
