body {
font-family: system-ui;
margin:0;
background:#0f172a;
color:white;
}

header {
background:#020617;
padding:15px;
}

.stats span{
margin-right:20px;
}

.controls{
padding:10px;
background:#020617;
}

textarea{
width:100%;
height:100px;
background:#020617;
color:white;
}

main{
display:flex;
height:75vh;
}

#threadPanel{
width:300px;
overflow:auto;
background:#020617;
}

.thread{
padding:10px;
border-bottom:1px solid #1e293b;
cursor:pointer;
}

.thread:hover{
background:#1e293b;
}

#messagePanel{
flex:1;
overflow:auto;
padding:20px;
}

.message{
padding:10px;
margin:10px;
border-radius:8px;
max-width:60%;
}

.inbox{
background:#1e40af;
}

.sent{
background:#065f46;
margin-left:auto;
}
