body
{
font-family: Arial;
background:#0f172a;
color:white;
padding:20px;
}

.panel
{
background:#1e293b;
padding:15px;
margin-bottom:15px;
border-radius:8px;
}

textarea,input,select
{
width:100%;
margin-top:5px;
margin-bottom:5px;
padding:8px;
background:#0f172a;
color:white;
border:1px solid #334155;
}

button
{
padding:8px;
margin-top:5px;
background:#2563eb;
color:white;
border:none;
cursor:pointer;
}

#contactsContainer
{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
gap:10px;
}

.contact
{
background:#1e293b;
padding:10px;
border-radius:6px;
}

.duplicate
{
border-left:5px solid red;
}

.unique
{
border-left:5px solid green;
}
