body{

margin:0;
background:#05060a;
color:white;
font-family:system-ui;

}


/* INPUT SCREEN */

#inputScreen{

padding:20px;
text-align:center;

}

.title{

font-size:28px;
margin-bottom:30px;

background:linear-gradient(90deg,#00ffe0,#00ffa2);

-webkit-background-clip:text;
color:transparent;

}


.buttonGroup{

display:flex;
flex-direction:column;
gap:15px;

}


.mainButton{

background:linear-gradient(45deg,#00ffa2,#00ffe0);

border:none;
padding:15px;
border-radius:12px;
font-size:16px;
color:black;
font-weight:bold;

}


.fileButton{

display:block;
cursor:pointer;

}


.inputBox{

margin-top:20px;

}

.inputBox input,
.inputBox textarea{

width:100%;
padding:12px;
border-radius:10px;
border:none;
margin-bottom:10px;

}


.submitButton{

background:#00ffa2;
border:none;
padding:12px;
border-radius:10px;
width:100%;

}


/* APPS SCREEN */

.topBar{

padding:15px;
background:#0c0f17;

display:flex;
justify-content:space-between;

}


.appCard{

background:#0c0f17;
margin:10px;
padding:15px;
border-radius:15px;

}


.appHeader{

display:flex;
gap:12px;

}


.appIcon{

width:50px;
height:50px;
background:#00ffa2;
border-radius:12px;

}


.appName{

font-size:18px;
font-weight:bold;

}


.appPackage{

font-size:12px;
color:#aaa;

}


.appDetails{

margin-top:10px;
font-size:13px;
color:#ccc;

display:flex;
flex-direction:column;
gap:4px;

}


/* MOBILE OPTIMIZED */

@media (max-width:600px){

.appCard{

margin:8px;

}

}


/* UTIL */

.hidden{

display:none;

}
