body{
margin:0;
font-family:Segoe UI;
background:#0f172a;
color:white;
}

header{
padding:10px;
background:#020617;
}

.topbar{
display:flex;
gap:10px;
padding:10px;
}

textarea{
width:300px;
height:80px;
background:black;
color:white;
}

.main{
display:flex;
height:calc(100vh - 140px);
}

.sidebar{
width:300px;
background:#020617;
overflow:auto;
padding:10px;
}

.content{
flex:1;
padding:10px;
overflow:auto;
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#020617;
cursor:pointer;
}

td,th{
padding:8px;
border-bottom:1px solid #334155;
}

tr:hover{
background:#1e293b;
}

.folder{
color:#60a5fa;
}

.file{
color:#34d399;
}

.hidden{
opacity:0.4;
}

#tree div{
cursor:pointer;
padding:3px;
}

#tree div:hover{
background:#1e293b;
}
